<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizzeria</title>
    <link rel="stylesheet"
          href="lab1.style.css">
</head>
<body>
<div class="header">
    <p class="title">Daniele's pizza</p>
</div>
<div class="main">
    <div class="cards">
        <div class="card">
            <div class="card-picture">
                <img class="card-image"
                     src="../../../public/assets/margherita.png"
                     alt="margherita">
            </div>
            <div class="card-body">
                <h2 class="card-title">Margherita</h2>
                <p>Tomato sauce, mozzarella, basilica, olive oil</p>
                <div class="card-actions">
                    <a class="btn btn-primary"
                       id="view-margherita">View</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-picture">
                <img class="card-image"
                     src="../../../public/assets/quattro-formaggi.png"
                     alt="quattro-formaggi">
            </div>
            <div class="card-body">
                <h2 class="card-title">Quattro formaggi</h2>
                <p>Tomato sauce, mozzarella, gorgonzola, fontina cheese, parmesan, olive oil</p>
                <div class="card-actions">
                    <a class="btn btn-primary"
                       id="view-quattro">View</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-picture">
                <img class="card-image"
                     src="../../../public/assets/capricciosa.png"
                     alt="capricciosa">
            </div>
            <div class="card-body">
                <h2 class="card-title">Capricciosa</h2>
                <p>Tomato sauce, mozzarella, prosciutto crudo, mushrooms, olives, artichoke, egg</p>
                <div class="card-actions">
                    <a class="btn btn-primary"
                       id="view-capricciosa">View</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-picture">
                <img class="card-image"
                     src="../../../public/assets/marinara.png"
                     alt="marinare">
            </div>
            <div class="card-body">
                <h2 class="card-title">Marinara</h2>
                <p>Tomato sauce, mozzarella, garlic, oregano, olive oil</p>
                <div class="card-actions">
                    <a class="btn btn-primary"
                       id="view-marinara">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="lab1.js"></script>
</body>
</html>
